# IDE
.idea/

# Docker
docker-compose.yml

# PHP
vendor/
phpunit.xml
.phpunit.cache/
config/development.config.php
config/autoload/local.php
config/autoload/*.local.php

# Storage
data/cache/*
!data/cache/.gitkeep

# Other
.env
